html {
    cursor: url('../image/mataMosquito.png') 30 30, auto;
}
body {
    background: url('../image/bg.jpg') no-repeat;
    overflow: hidden;
}
.mosquito1 {
    width: 50px;
    height: 50px;
}
.mosquito2 {
    width: 60px;
    height: 60px;
}
.mosquito3 {
    width: 70px;
    height: 80px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX( -1 )
}
.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #000;
    background-color: #000;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size:20px;
    font-weight: bold;
    color:white;
}