.caixa {
    width: 400px;
    height: auto;
    background: #dedede url('../imagemarredondamento/fundo-arredondamento.png');
}

.caixa h2 {
    padding: 10px 20px 0 20px;
    background: url('../imagemarredondamento/topo2.png') no-repeat left top;
    text-align: center;
}

.caixa p {
    padding: 0 20px;
}

.caixa .ultimo {
    padding-bottom: 20px;
    background: url('../imagemarredondamento/baixo2.png') no-repeat left bottom;
}